<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/owner" class="btn btn-secondary" id="transparent-btn"> Back to dashboard ◀ </a>

<hr>

<h1>Edit you dog's profile </h1>
<p class="copy"> Here you can edit information about your dog.
</p>

<hr class="hidden">
<hr class="hidden">

{{!-- /////----Image---/// --}}

{{#if toBeEditedDoggo.imageUrl}}
<div class="load-image">
<img class="image" src="{{toBeEditedDoggo.imageUrl}}" alt="Doggo image">
</div>
{{/if}}


<form method="POST" action="/updateImg/{{toBeEditedDoggo._id}}" enctype="multipart/form-data">
  <input type="file" name="imageUrl">

  <button type="submit" class="btn btn-secondary" id="transparent-btn">update image</button>
</form>

<hr class="hidden">

{{!-- /////----Form---/// --}}

<form method="POST" action="/owner/{{toBeEditedDoggo._id}}/edit-a-dog" class="form-group">
  <input type="hidden" name="imageUrl" value="{{toBeEditedDoggo.imageUrl}}">

  <label class="copy">Name</label>
  <input class="form-control" type="text" name="name" value="{{ toBeEditedDoggo.name }}">

  <br>

  <label class="copy">Breed</label>
  <input class="form-control" type="text" name="breed" value="{{ toBeEditedDoggo.breed }}">

  <br>

  <label class="copy">Size</label>
  <select name="size" id="doggoSize" class="form-control">
    <option value="{{ toBeEditedDoggo.size }}">{{ toBeEditedDoggo.size }}</option>
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="More To Love">More To Love</option>
  </select>

  <br>

  <label class="copy">Age</label>
  <input class="form-control" type="text" name="age" value="{{ toBeEditedDoggo.age }}">

  <br>

  <label class="copy">Gender</label>
  {{!-- <input type="text" name="gender" placeholder="Enter dog's gender"> --}}
  <select name="gender" id="doggoGender" class="form-control">
    <option value="{{ toBeEditedDoggo.gender }}">{{ toBeEditedDoggo.gender }}</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="N/A">N/A</option>
  </select>

  <br>

  <label class="copy">Description</label>
  <br>
  <input class="form-control" type="text" name="description" value="{{ toBeEditedDoggo.description }}">

  <br>
  <label class="copy">City</label>
  <select class="form-control" name="city">
    <option value="{{ toBeEditedDoggo.city }}">{{ toBeEditedDoggo.city }}</option>
    <option value="Amsterdam">Amsterdam</option>
    <option value="Berlin">Berlin</option>
    <option value="Bratislava">Bratislava</option>
    <option value="Dublin">Dublin</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Lisbon">Lisbon</option>
    <option value="London">London</option>
    <option value="Madrid">Madrid</option>
    <option value="Paris">Paris</option>
    <option value="Prague">Prague</option>
    <option value="Rome">Rome</option>
    <option value="Stockholm">Stockholm</option>
    <option value="Vilnius">Vilnius</option>
  </select>

  <div class="checkbox">
    {{#if toBeEditedDoggo.foster}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="foster" value="true" checked="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Foster </p>
      </label>
    </div>
    {{else}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="foster" value="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Foster </p>
      </label>
    </div>
    {{/if}}

    {{#if toBeEditedDoggo.walkies}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="walkies" value="true" checked="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Walkies </p>
      </label>
    </div>
    {{else}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="walkies" value="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Walkies </p>
      </label>
    </div>
    {{/if}}
  </div>
  <br>
  <input type="hidden" name="myOwner" value={}>

  <button class="btn btn-primary" type="submit">Update dog</button>

</form>



{{#if errorMessage}}
<br>
<div class="alert alert-danger" role="alert">
  {{errorMessage}}

  {{/if}}