<h1>Welcome to your dashboard, owner!</h1>
<p class="copy">
    Here you can create dog profiles specifying the help required.
</p>


<div class="secondary-nav">
        <a href="/owner/{{doggoArr.0.myOwner._id}}/edit-owner" class="btn btn-primary">Edit my Profile</a>
        <a href="/logout" class="btn btn-primary">Logout</a>
        <a href="/owner/add-a-dog" class="btn btn-primary">Add a dog</a>
</div>

<hr>

<div class="dashboard">
{{#each doggoArr}}
<div class="card" style="width: 18rem;">
    <div class="card-img-top">
        <img class= "image" src="{{this.imageUrl}}" alt="Card image cap">
    </div>
    
    <div class="card-body">
     <h2 class="card-title">
         {{this.name}}
   
     </h2>
     <h5>
         {{this.breed}}  
     </h5>
            <p class="card-text">
                {{#if this.walkies}}
                <p>Available for walkies!</p>
                {{/if}}
                {{#if this.foster}}
                <p>Available for fostering!</p>
                {{/if}}
                <a href="/owner/{{this._id}}/edit-a-dog" class="badge badge-pill badge-secondary">Edit</a>
                <a href="/owner/{{this._id}}/delete" class="badge badge-pill badge-secondary">Delete</a>
                <a href="/owner/{{this._id}}/messages" class="badge badge-pill badge-primary">Message</a>    
            </p>
    </div>
</div>
{{/each}}
</div>