<h2>owner dashboard</h2>

<a href="/logout">Logout</a>
<br>
<a href="/owner/add-a-dog">Add a dog</a>
<br>


{{#each doggoArr}}
<div>
    {{this.name}}
    <br>
    {{this.breed}}
    <br>
    {{#if this.walkies}}
    <p>Available for walkies!</p>
    {{/if}}
    <br>
    {{#if this.foster}}
    <p>Available for fostering!</p>
    {{/if}}
    <a href="/owner/{{this._id}}/edit-a-dog">Edit</a>
    <a href="/owner/{{this._id}}/delete">Delete</a>
    <a href="/owner/{{this._id}}/messages">Message</a>
</div>
{{/each}}