<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/volunteer" class="btn btn-secondary" id="transparent-btn"> Back to the dashboard ◀ </a>
<a href="/volunteer/search" class="btn btn-secondary" id="transparent-btn"> Back to search ◀ </a>
<hr>

<div class="card mb-3" style="max-width: 8000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    
      <img class="image" src="{{foundDoggo.imageUrl}}" onerror="this.src='/images/img_blank.jpg';" class="card-img"
        alt="Doggo profile">
    
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="dog-card-text">
        <hr class="hidden">
        <h2 class="card-title">Meet dog,&nbsp;<span class="bold">{{foundDoggo.name}}!</span></h2>
        <hr>
        <p class="card-text">
        <h5>
          <br>
          <span class="bold">Breed:</span>
          {{ foundDoggo.breed }}
          <br>
          <span class="bold"> Age:</span>
          {{ foundDoggo.age}}
          <br>
          <span class="bold">Size: </span>
           {{ foundDoggo.size }}
          <br>
          <span class="bold">Description: </span>
           {{ foundDoggo.description }}
          <br>
          <span class="bold">City: </span>
           {{ capitalizedCityOnDogProfile }}
          <br>
        </h5>
        </p>
        <p class="card-text">
          <small class="text-muted">
            {{#if foundDoggo.walkies}}
            <p>Available for walkies!</p>
            {{/if}}
            {{#if foundDoggo.foster}}
            <p>Available for fostering!</p>
            {{/if}}

          </small>
        </p>

        <div class="secondary-nav">
          <a href="/volunteer/{{foundDoggo._id}}/messages" class="btn btn-primary">Message</a>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>