<a href="/volunteer/search" class="btn btn-secondary" id="transparent-btn">Back to search</a>


<hr>




<div class="card">
  <div class="profile-card">

      <div class="card-body">
            <h2>Meet dog, {{foundDoggo.name}}!</h2>
              <br>
                Breed: {{ foundDoggo.breed }}
          
            <br>
                Age: {{ foundDoggo.age}}
            <br>
                Size: {{ foundDoggo.size }}

      Description: {{ foundDoggo.description }}
      {{#if foundDoggo.walkies}}
      <p>Available for walkies!</p>
      {{/if}}
      {{#if foundDoggo.foster}}
      <p>Available for fostering!</p>
      {{/if}}
            <div class="secondary-nav">
                <a href="/volunteer/{{foundDoggo._id}}/messages" class="btn btn-primary">Message</a>
            </div>
      </div>
      <div class="image-profile-container">
          <div class="image-profile">
        <img src="{{foundDoggo.imageUrl}}" alt="Image-of-Doggo">
        </div>
      </div>
      

      
  </div>

</div>
