<a href="/volunteer/search" class="btn btn-secondary" id="signup">Back to search</a>

<h1>Meet {{foundDoggo.name}}!</h1>

    <div class="card">
        <div class="card-body">
  <img src="{{foundDoggo.imageUrl}}" alt="Image-of-Doggo">
<h2>
  Breed: {{ foundDoggo.breed }}
</h2>
  Breed: {{ foundDoggo.breed }}
  <br>
  Age: {{ foundDoggo.age}}
  <br>
  Size: {{ foundDoggo.size }}


  Description: {{ foundDoggo.description }}

  {{#if foundDoggo.walkies}}
  <p>Available for walkies!</p>
  {{/if}}
  {{#if foundDoggo.foster}}
  <p>Available for fostering!</p>
  {{/if}}
<div class="secondary-nav">
  <a href="/volunteer/{{foundDoggo._id}}/messages" class="btn btn-primary">Message</a>
</div>
      </div>
    </div>
