<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/volunteer" class="btn btn-secondary" id="transparent-btn"> Back to dashboard ◀ </a>

<hr>
<h1>Edit your profile</h1>
<p class="copy"> Wanna change something?

  <hr>
  <hr class="hidden">

</p>

<div>
  <form method="POST" action="/owner/{{volunteer._id}}/edit-owner" class="form-group">

    <div class="secondary-nav">
      <div class="radio">
        <input type="radio" name="hoomanType" value="private" checked="checked">
        <p class="copy" class="radio">Individual</p>
      </div>

      <div class="radio"></div>
      <input type="radio" name="hoomanType" value="org">
      <p class="copy" class="radio">Organisation</p>
    </div>
</div>

<div class="form-group">

  <label class="copy">Name</label>
  <input type="text" name="name" value="{{ volunteer.name }}" class="form-control">

  <br>

  <label class="copy">City</label>
  <input type="text" name="city" value="{{ volunteer.city }}" class="form-control">

  <br>

  <button type="submit" class="btn btn-primary" id="transparent-btn">Edit</button>

  </form>

  <hr>

  <form method="POST" action="/volunteer/edit-volunteer-verify-password">
    <label class="copy">Old password</label>
    <input type="password" name="submittedPassword" class="form-control">
    <button type="submit" class="btn btn-primary" id="transparent-btn">Verify</button>
  </form>

  <br>


  {{#if passwordMessage}}

  <div class="alert alert-success" role="alert">
    {{passwordMessage}}
  </div>

  <form method="POST" action="/volunteer/edit-volunteer-password">
    <label class="copy">New password</label>
    <input type="password" name="newPassword" class="form-control">
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>

  {{else}}
  {{#if errorMessage}}
  <br>
  <div class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  {{/if}}

  {{/if}}


  {{#if successMessage}}
  <div class="alert alert-success" role="alert">
    {{successMessage}}
  </div>
  {{/if}}
</div>
</form>
</div>