<h1>Edit your profile</h1>
<p class="copy"> Wanna change something?
</p>

<form method="POST" action="/volunteer/{{volunteer._id}}/edit-volunteer">
  <label>Name</label>
  <input type="text" name="name" value="{{ volunteer.name }}">

  <br>

  <label>City</label>
  <input type="text" name="city" value="{{ volunteer.city }}">

  <br>

  <button type="submit">Edit</button>

</form>

<form method="POST" action="/volunteer/edit-volunteer-verify-password">
  <label>Old password</label>
  <input type="password" name="submittedPassword">
  <button type="submit">Verify</button>
</form>

{{#if passwordMessage}}

{{passwordMessage}}
<form method="POST" action="/volunteer/edit-volunteer-password">
  <label>New password</label>
  <input type="password" name="newPassword">
  <button type="submit">Change password</button>
</form>

{{else}}
{{errorMessage}}
{{/if}}

{{#if successMessage}}
{{successMessage}}
{{/if}}