<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/volunteer" class="btn btn-secondary" id="transparent-btn">Back to the dashboard ◀ </a>

<hr>

<h1>Find available dogs</h1>

<hr>

{{!-- Search nav --}}
<div>
  <form action="/volunteer/search/filter" class="search" method="GET">
    <div>
      {{#if searchedCity}}

      <label class="copy">City</label>
      <select class="search-field" name="city">
        <option value="{{ searchedCity }}">{{ searchedCity }}</option>
        <option value="Amsterdam">Amsterdam</option>
        <option value="Berlin">Berlin</option>
        <option value="Dublin">Dublin</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Lisbon">Lisbon</option>
        <option value="Ljubljana">Ljubljana</option>
        <option value="London">London</option>
        <option value="Madrid">Madrid</option>
        <option value="Paris">Paris</option>
        <option value="Prague">Prague</option>
        <option value="Rome">Rome</option>
        <option value="Stockholm">Stockholm</option>
        <option value="Vilnius">Vilnius</option>
      </select>

      {{else}}

      <label class="copy">City</label>
      <select class="search-field" name="city">
        <option value="Amsterdam">Amsterdam</option>
        <option value="Berlin">Berlin</option>
        <option value="Dublin">Dublin</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Lisbon">Lisbon</option>
        <option value="Ljubljana">Ljubljana</option>
        <option value="London">London</option>
        <option value="Madrid">Madrid</option>
        <option value="Paris">Paris</option>
        <option value="Prague">Prague</option>
        <option value="Rome">Rome</option>
        <option value="Stockholm">Stockholm</option>
        <option value="Vilnius">Vilnius</option>
      </select>

      {{/if}}
    </div>

    <div class="checkbox">
      {{#if foster}}
      <input type="checkbox" name="foster" value="true" checked="true">
      <label>
        <p class="copy"> &nbsp;Foster </p>
      </label>
      {{else}}
      <input type="checkbox" name="foster" value="true">
      <label>
        <p class="copy"> &nbsp;Foster </p>
      </label>
      {{/if}}
    </div>

    <div class="checkbox">
      {{#if walkies}}
      <input type="checkbox" name="walkies" value="true" checked="true">
      <label>
        <p class="copy"> &nbsp;Walkies </p>
      </label>
      {{else}}
      <input type="checkbox" name="walkies" value="true">
      <label>
        <p class="copy"> &nbsp;Walkies </p>
      </label>
      {{/if}}
    </div>

    <div class="secondary-nav">
      <button type="submit" class="btn btn-primary">Filter dogs</button>
    </div>

  </form>
</div>



{{!-- Dashboard --}}


<div class="dashboard">


  {{#each allDoggos}}
  <div class="card" style="width: 18rem;">
    <div class="card-img-top">
      <img class="image" src="{{this.imageUrl}}" onerror="this.src='/images/img_blank.jpg';" alt="Card image cap">
    </div>

    <div class="card-body">
      <h2 class="card-title">
        {{this.name}}

      </h2>
      <h5>
        {{this.breed}}
      </h5>
      <hr>
      <p class="card-text">
        {{#if this.walkies}}
      <p>Available for walkies!</p>
      {{/if}}
      {{#if this.foster}}
      <p>Available for fostering!</p>
      {{/if}}
      <hr>
      <div class="icons-profile">
        <a href="/volunteer/{{this._id}}/profile">

          <p class="badge badge-pill badge-primary">
            More Info
          </p>

        </a>
      </div>
      </p>
    </div>
  </div>
  {{/each}}




  {{#if errorMessage}}
  <br>
  <div class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  {{/if}}