<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>

<hr>


<h1>Find available dogs</h1>

<hr>




{{!-- ------ --}}
<div >
  <form action="/volunteer/search/filter" class="search" method="GET"  >
    <input class="search-field" type="search" placeholder="Enter a city" aria-label="Search" name="city">


          <div class="checkbox">
       
        
            {{#if foster}}
            <input type="checkbox" name="foster" value="true" checked="true">
            <label>
              <p class="copy" > Foster </p>
            </label>
            {{else}}
            <input type="checkbox" name="foster" value="true">
            <label>
              <p class="copy"> Foster </p>
            </label>
            {{/if}}
      </div>

      <div class="checkbox" >
            {{#if walkies}}
            <input type="checkbox" name="walkies" value="true" checked="true">
            <label>
              <p class="copy"> Walkies </p>
            </label>
            {{else}}
            <input type="checkbox" name="walkies" value="true">
            <label>
              <p class="copy"> Walkies </p>
            </label>
            {{/if}}
      
         

      </div>
      <div class="secondary-nav">
        <button type="submit" class="btn btn-primary" >Filter dogs</button>
      </div>
            
  </form>

</div>


<div class="dashboard">
  {{#each allDoggos}}

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">
        {{this.name}}

      </h2>

      <h5>
        {{this.breed}}
      </h5>
      <p class="card-text">
        {{#if this.walkies}}
      <p>Available for walkies!</p>
      {{/if}}
      <br>
      {{#if this.foster}}
      <p>Available for fostering!</p>
      {{/if}}
      </p>
      <a href="/volunteer/{{this._id}}/profile" class="badge badge-pill badge-primary">More info</a>
    </div>
  </div>

  {{/each}}

</div>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}