<div>
  <a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
  <a class="paw" href="https://openpuppies.com/" target="_blank"> <img src="images/cursor2.png" alt="Paw"> </a>
</div>
<hr>

<h1>Welcome to your dashboard, {{ volunteer.name }}!</h1>
<p class="copy"> We are happy to see you again!
</p>



<div class="secondary-nav">
  <a href="/volunteer/{{volunteerId}}/edit-volunteer" class="btn btn-primary">Edit my Profile</a>
  <a href="/volunteer/search" class="btn btn-primary">Find a dog</a>

</div>

<hr>

<h7>Dogs I've messaged:</h7>

<hr class="hidden">

{{#if volunteerMessArr}}
<div class="dashboard">
  {{#each volunteerMessArr}}
  <div class="card" style="width: 18rem;">
    <div class="card-img-top">
      <img class="image" src="{{this.doggo.imageUrl}}" onerror="this.src='/images/img_blank.jpg';" alt="Card image cap">
    </div>

    <div class="card-body">
      <h2 class="card-title">
        {{this.doggo.name}}

      </h2>
      <h5>
        {{this.doggo.breed}}
      </h5>
      <p class="card-text">
        {{#if this.doggo.walkies}}
      <p>Available for walkies!</p>
      {{/if}}
      {{#if this.doggo.foster}}
      <p>Available for fostering!</p>
      {{/if}}
      <a href="/volunteer/{{this.doggo._id}}/profile" class="badge badge-pill badge-primary">More info</a>

      </p>
      <hr>
      <a href="/volunteer/{{this.doggo._id}}/delete">
        <img class="icon-card" src="/images/delete.svg" alt="delete">
      </a>
      <a href="/volunteer/{{this._id}}">
        <img class="icon-card" src="/images/message.svg" alt="message">
      </a>
    </div>
  </div>
  {{/each}}
</div>

{{else}}

<h1>You haven't messaged any dogs yet :(</h1>
{{/if}}